*{
	/*padding: 0px;*/
	/*margin: 0px;*/
	font-family: 'Josefin Sans', sans-serif;
}
button{
	background: white;
}

#generator_forms{
	/*margin-left: 15%;*/
	position: absolute;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	width: 976px;
	background-color: #e7e8ea;
	align-items: center;
	height: 1288px;
}

#watch{
	margin-left: 20px;
	margin-top: 25px;
	padding: 5px;
	background-color: white;
	width: 490px;
	height: 1226px;
	display: inline-block;
}

#chooise{
	padding: 32px;
	position: absolute;
	margin-right: 25px;
	margin-top: 25px;
	background-color: white;
	width: 340px;
	height: 1172px;
	display: inline-block;
	right: 10px;
}

button.chooise{
	font-size: 20px;
	height: 50px;
	padding: 10px;
	width: 290px;
	margin-top: 20px;
	text-align: left;
	outline: none;
	border: none;
	background: #fff;
	margin-left: 25px;
	transition: 0.3s;
}


button.chooise:hover{
	background-color: #d1d2d4;
	outline: none;
	transition: 0.3s;
}
button.chooise:active{
	background-color: #d1d2d4;
	outline: none;
}
button.chooise:focus{
	background-color: #d1d2d4;
	outline: none;
}

.sel{
	background-color: #d1d2d4 !important;
}
/*//////*/
.second_chooise{
	width: 270px;
	/* width: 85.5%; ipad pro*/
	margin-left: 25px;
	background-color: #d1d2d4;
	position: absolute;
	position: relative;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;

	transition: 1s;
}
.second_chooise > *{
	width: 270px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: none;
	outline: none;
}

/*//////*/
.second_chooise > input{
	width: 240px;
	height: 45px;
	padding-left: 15px;
	padding-right: 15px;
}

.second_chooise > input.small{
	width: 80px;
}

.second_chooise > input.set{
	width: 270px;
	background-color: green;
	text-align: center;
	color: #fff;
	height: 40px;
}

.second_chooise > input.clear{
	float: left;
	width: 130px;
	background-color: #f8bb1a;
	text-align: center;
	color: #fff;
	height: 30px;
}
/*  */
.second_chooise > input.remove_index{
	padding: 0px;
	margin: 0px;
	background: #e00808;
	float: right;
	margin-left: 5px;
	width: 30px;
	text-align: center;
	color: #fff;
	height: 30px;
}
.second_chooise > input.remove_index_big{
	padding: 0px;
	margin: 0px;
	background: #e00808;
	float: right;
	margin-left: 5px;
	width: 60px;
	text-align: center;
	color: #fff;
	height: 30px;
}
/*  */
.second_chooise > input.remove_from_form_big{
	background: #e00808;
	float: right;
	margin-left: 5px;
	text-align: center;
	color: #fff;
	height: 30px;
    width: 205px;
    margin-left: 0px;
}
.second_chooise > input.remove_from_form{
	background: #e00808;
	float: right;
	margin-left: 5px;
	width: 100px;
	text-align: center;
	color: #fff;
	height: 30px;
}

/*  */
.second_chooise > textarea{
	height: 110px;
	padding-top: 15px;
	width: 240px;
	resize: vertical;
	padding-left: 15px;
	padding-right: 15px;
}
.second_chooise > input.checkbox{
	height: 15px;
	width: 15px;
	padding-left: 15px;
	padding-right: 15px;
}


/*//////*/

.none{
	display: none;
	transition: 1s;
}